<mat-toolbar color="primary">
  <span [innerHTML]="title"></span>
</mat-toolbar>
<mat-card>After an agreement is reached you can use this web form to create a right use your model.</mat-card>

<mat-card>
  <h3>Here is a form to help you start:</h3> <button (click)="showExample('example001.json')" mat-button color="primary">Load Example Data</button>

  <json-schema-form *ngIf="jsonSchema" [schema]="jsonSchema" [layout]="formLayout" framework="material-design"
    loadExternalAssets="false" (onSubmit)="download($event)"  [(data)]="jsonData" >
  </json-schema-form>
  <!----  <h4>Submitted data:</h4> -->
  <!-- <pre *ngIf="!displayData">(none)</pre>
      <pre *ngIf="displayData">{{displayData | json}}</pre> -->
</mat-card>